.metxt{
    background-color: black;
    font-family: fantasy;
    font-size: 18px;
    color: limegreen;

}


body {
    background-image: url('../photos/bround.jpg');
    color:blue;
}

.page-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    border-top-width: 100%;
    border-top-style: solid;
    border-top-color:green;
    background-color: black;
    color: green;
}
.titleheading{
    text-align: center;
    color: red;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40PX;       
}
.spacer50 { 
    height: 50px;
     width: 100%;
    font-size: 0;
     margin: 0;
     padding: 0;
     border: 0;
     display: block;
     }

 .spacer75 { 
        height: 75px;
         width: 100%;
        font-size: 0;
         margin: 0;
         padding: 0;
         border: 0;
         display: block;
         }
    .txtcol {
        color: rgb(17, 17, 255)
    }
